extends layout

block content
  h1= title
  h3
      | made by
      | <a href="https://mewc.info">#{creator}</a>  =>
      | <a href="https://github.com/mewc">mewc</a>

  h3
    | see the latest
    | <a href="/twitter">'#liveperson\' tweets</a>

  p dec 2018